<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>    
	<title>musicdb_dev::smartphone</title>
    <link rel="icon" href="//ja.gravatar.com/userimage/14611836/d5caef2a5366cf647fc8fba3430e5854.png" type="image/png">
	<link rel="stylesheet" href="<%= @prefix %>/css/jquery.mobile.css">
	<link rel="stylesheet" href="<%= @prefix %>/css/smartphone.css">
    
    <script id="template-li-genre" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="genre" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%genre%</h2>
        </a>
        <!--<a class="play" href="#" data-type="genre" data-value="%value%" data-rel="page">Play</a>-->
      </li>
    </script>
    
    <script id="template-li-artist" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="artist" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%value%</h2>
          <p>genre:%genre%</p>
        </a>
        <a class="play" href="#" data-type="artist" data-value="%value%" data-rel="page">Play</a>
      </li>
    </script>  

    <script id="template-li-album" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="album" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%value%</h2>
          <div>
            <p>artist:%artist%</p>
            <p>genre:%genre%</p>
          </div>
        </a>
        <a class="play" href="#" data-type="album" data-value="%value%" data-rel="page">Play</a>
      </li>
    </script>
    
    <!-- track と searchは同一視する-->
    <script id="template-li-track" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="track" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%title%</h2>
          <div>
            <p>artist:%artist%</p>
            <p>album:%album%</p>
            <p>genre:%genre%</p>
          </div>
        </a>
        <a class="play" href="#" data-type="track" data-value="%value%" data-rel="page">Play</a>
      </li>
    </script>

    <script id="template-li-playlist" type="text/template">
      <li>
        <a class="pagecur" href="#" data-type="playpoint" data-cursor="%cursor%" data-rel="page" data-transition="turn">
          <h2>%title%</h2>
          <div>
            <p>artist:%artist%</p>
            <p>album:%album%</p>
            <p>genre:%genre%</p>
          </div>
        </a>
      </li>
    </script>

</head>

<body>
<audio controls id="player" class="player" style="display:none;"></audio>

<div data-role="page" id="index" data-theme="b">
  <h1 style="text-align:center">musicdb_dev::smartphone</h1>
</div>  

<% ["genre","artist","album","track"].each do |kind| %>
<div data-role="page" class="ui-page" id="<%= kind %>" data-theme="b">
  <header id="header" data-id="common_header" data-role="header"
   data-position="fixed">
    <div class="marquee">
      <p><span class="nowplaying"></span>&nbsp;-&nbsp;musicdb_dev::<%= kind %></p>
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a" style="width:75%;">  
          <input id="search-text-<%= kind %>" class="text" type="text" placeholder="input search text..." data-type="search"/>
        </div>
        <div class="ui-block-b" style="width:25%;margin-top:3px;padding-left:10px">
          <button class="search-btn" data-kind="<%= kind %>" id="seach-btn-<%= kind %>">SEARCH</button>
        </div>
    </div>
    <div class="control">
      <button class="pause">||</button>
      <button class="prev"><<</button>
      <button class="next">>></button>
      <button class="init">init</button>
      <button class="playlist" style="display:none;">playlist</button>
      <span class="share"></span>
    </div>
  </header>
  <ul id="content-ul-<%= kind %>" data-role="listview" data-autodividers="true" data-filter="true" data-split-theme="a" data-inset="true">
  <ul>
</div>
<% end %>

<div data-role="page" class="ui-content" id="playlist-popup" data-theme="b">
  <header id="header" data-id="common_header" data-role="header"
   data-position="fixed">
    <div class="marquee">
      <p>playlist</p>
    </div>
    <a href="#" data-transition="turn" data-theme="b" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
  </header>
  <ul id="content-ul-playlist" data-role="listview" data-filter="true" data-split-theme="a" data-inset="true">-->
  <ul>
</div>

	<script src="<%= @prefix %>/js/jquery.js"></script>
   	<script src="<%= @prefix %>/js/jquery.mobile.js"></script>
	<script src="<%= @prefix %>/js/smartphone.js"></script>
    <!--<script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>-->
</head>
</body>
</html>
