<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>    
	<title>musicdb_dev::smartphone</title>
    <link rel="icon" href="//ja.gravatar.com/userimage/14611836/d5caef2a5366cf647fc8fba3430e5854.png" type="image/png">
	<link rel="stylesheet" href="<%= @prefix %>/css/jquery.mobile.css">
	<link rel="stylesheet" href="<%= @prefix %>/css/smartphone.css">
    
    <script id="template-li-genre" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="genre" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%genre%</h2>
        </a>
        <!--<a class="play" href="#" data-type="genre" data-value="%value%" data-rel="page">Play</a>-->
      </li>
    </script>
    
    <script id="template-li-artist" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="artist" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%value%</h2>
          <p>genre:%genre%</p>
        </a>
        <a class="play" href="#" data-type="artist" data-value="%value%" data-rel="page">Play</a>
      </li>
    </script>  

    <script id="template-li-album" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="album" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%value%</h2>
          <div>
            <p>artist:%artist%</p>
            <p>genre:%genre%</p>
          </div>
        </a>
        <a class="play" href="#" data-type="album" data-value="%value%" data-rel="page">Play</a>
      </li>
    </script>
    
    <!-- track と searchは同一視する-->
    <script id="template-li-track" type="text/template">
      <li>
        <a class="pageli" href="#" data-type="track" data-value="%value%" data-rel="page" data-transition="turn">
          <h2>%title%</h2>
          <div>
            <p>artist:%artist%</p>
            <p>album:%album%</p>
            <p>genre:%genre%</p>
          </div>
        </a>
        <a class="play" href="#" data-type="track" data-value="%value%" data-rel="page">Play</a>
      </li>
    </script>

    <script id="template-li-playlist" type="text/template">
      <li>
        <a class="pagecur" href="#" data-type="playpoint" data-cursor="%cursor%" data-rel="page" data-transition="turn">
          <h2>%title%</h2>
          <div>
            <p>artist:%artist%</p>
            <p>album:%album%</p>
            <p>genre:%genre%</p>
          </div>
        </a>
      </li>
    </script>
</head>
<body>
  
<div data-role="page" id="index" data-theme="b">
  <h1 style="text-align:center">musicdb_dev::smartphone</h1>
  <h1 style="text-align:center"><a href="#" class="init">init</a></h1>
</div>  

<% ["genre","artist","album","track"].each do |kind| %>
<div data-role="page" class="ui-page" id="<%= kind %>" data-theme="b">
  <header id="header" data-id="common_header" data-role="header"
   data-position="fixed">
    <div class="marquee">
      <p><span class="nowplaying"></span>musicdb_dev::<%= kind %></p>
    </div>
    <div class="ui-grid-a">
      <form class="search" data-kind="<%= kind %>">
        <div class="ui-block-a block-a">  
          <input id="search-text-<%= kind %>" class="search-text" type="text" placeholder="input search text..." data-type="search"/>
        </div>
        <div class="ui-block-b block-b">
          <button class="search-btn" data-kind="<%= kind %>" id="seach-btn-<%= kind %>">SEARCH</button>
        </div>
      </form>  
    </div>
    <div id="control-<%= kind %>">
      <!--<button class="back">back</button>-->
      <button class="pause">||</button>
      <button class="prev"><<</button>
      <button class="next">>></button>
      <button class="init">init</button>
      <button class="playlist">playlist</button>
      <span class="share"></span>
    </div>

    <div>
    <form>
      <div class="slider-div">
        <input class="slider" name="slider" id="slider-<%= kind %>" data-highlight="true" min="0" max="100" value="0" type="range">
      </div>
    </form>
    </div>
  </header>
  <ul id="content-ul-<%= kind %>" data-role="listview" data-autodividers="true" data-filter="true" data-split-theme="a" data-inset="true">
  <ul>
</div>
<% end %>

<div data-role="page" class="ui-content" id="playlist-popup" data-theme="b">
  <header id="header" data-id="common_header" data-role="header"
   data-position="fixed">
    <a href="#" data-transition="slidefade" data-theme="b" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <div>
      <p>playlist</p>
    </div>
  </header>
  <ul id="content-ul-playlist" data-role="listview" data-filter="true" data-split-theme="a" data-inset="true">
  <ul>
</div>

<div id="control">
  <audio id="player" class="player"></audio>
</div>

<div id="overlay" style="position:fixed;top:0;left:0;background-color:#000;opacity:0.7;z-index:1200;height:100%;width:100%;display:none;color:#fff">
</div>

<script src="<%= @prefix %>/js/jquery.js"></script>
<script src="<%= @prefix %>/js/jquery.mobile.js"></script>
<script id="twitter-wjs" src="//platform.twitter.com/widgets.js"></script>
<script src="<%= @prefix %>/js/smartphone.js"></script>
</body>
</html>
